html,
body {
  background-color: #4a4a4a;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 14px;
  line-height: 17px;
}

.heading {
  background-color: #000000;
  margin: 0;
  padding: 16px;
}

/* Layout */
.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.dark {
  background-color: #272727;
  color: #ffffff;
}

.content {
  padding: 16px;
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
  padding: 30px 36px;
}

.badge {
  background-color: #fc6200;
  color: #ffffff;
  padding: 4px 8px;
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
  box-shadow: 0 0 0 999px #fc6200;
  clip-path: inset(0 -100%);
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.grid {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.grid > div:first-child {
  min-height: 400px;
}

.row-span-2 {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

.bitcoin-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.bitcoin-container .bitcoin {
  flex: 1;
}

/* Form inputs and buttons */
.form-input {
  width: 250px;
  padding: 8px;
  font-size: 16px;
  border: none;
  appearance: none;
  margin-right: 16px;
}
.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.button {
  background-color: #fa6200;
  padding: 10px 40px;
  outline: none;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #993e02;
}

/* Results table */
#date-value {
  position: relative;
}
#date-value::after {
  content: "";
  display: block;
  clear: both;
  height: 50%;
  background-color: #000000;
  position: absolute;
  left: 100%;
  top: 25%;
  width: 1px;
}
#date-value,
#btc-value {
  border-bottom: 1px solid #000000;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table th {
  text-transform: uppercase;
  text-align: left;
}
.table tr {
  height: 25px;
  background-color: #191919;
}
.table th:first-child {
  width: 30%;
}

/* Animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .form-input {
    width: 180px;
  }
  .grid > div:first-child {
    min-height: max-content;
  }
}
